You made it to deck view!!!

{{#if message}}
{{message}}
{{/if}}

{{#each decks}}
<form action="/" method="post">
<input type="hidden" name="Name" value="{{{Name}}}">
<div>
  <h3>{{Name}}</h3>
  <p><span class = "bold"> User: </span>{{User}}</p>
  <p><span class="bold"> Public: </span>{{Public}}</p>
</div>

</form>
{{/each}}
