<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>
<!-- <script src="../javascripts/items.js" type="text/javascript"></script> -->

<h2>
 <img class="deckLogo" src="../images/decklogoGreen.svg"/>
 {{currentDeck}}
</h2>


  <p>
    <table><tr><td class="deckButtons">
    <form action="/studydeck" method="post">
      <input type="hidden" id="currentDeckInput" name="name" value="{{currentDeck}}"></input>
      <input type="submit" class="inputButtonLarge" value="Study Deck"></input>
    </form>
    </td><td class="deckButtons">
      <button class="addCardLogo" id="addCard">⊕</button>
    </td></tr></table>



  </p>

  <div class="addCard" id="addCardDiv">
    <form action="/editdeck" method="post" id="addCardForm">
      <input type="hidden" name="name" value="{{currentDeck}}"></input>
      <input type="hidden" name="DeckName" value="{{{currentDeck}}}"></input>
      <h4> Question </h4>
      <p><textarea name="Question" class="inputBoxLarge"></textarea></p>
      <h4> Answer </h4>
      <p><textarea name="Answer" class="inputBoxLarge"></textarea></p>
      <span class="inputButton closeAdd">x</span><input type="submit" value="Add Card" class="inputButton"
      id="addACard"></input>
    </form>
  </div>


  <div class="studySpinner js-flickity">
  {{#each cards}}

    <div class="gallery-cell">
    <div class="cardDisplay">
      <h4> Question</h4>
      <form action="/editdeck" method="post" id="{{_id}}saveCardForm">
        <input type="hidden" name="DeckName" value="{{DeckName}}"></input>
        <textarea id="{{_id}}qinput" type="text" name="Question" class="inputBox" placeholder="{{Question}}"></textarea>
        <p id="{{_id}}qtext" class="question">{{Question}}</p>
        <h4> Answer </h4>
        <textarea id="{{_id}}ainput" type="text" name="Answer" class="inputBox" placeholder="{{Answer}}"></textarea>
        <p id="{{_id}}atext" class="question">{{Answer}}</p>

        <!-- .saveCardButton -->
          <!-- this hidden input is for the post/editdefck -->
        <input type="hidden" name="name" value="{{DeckName}}"></input>
        <p><button type="submit" id="{{_id}}save" value="{{_id}}" class="inputButton saveCardButton">Save</button>
      </form>

        <!-- edit button no logic necessary just appends the edit fields-->
        <button id="{{_id}}edit" value="{{_id}}" class="inputButton editCardButton">Edit</button>

        <!--DELETE CARD-->
        <form action="/editdeck" method="post">
        <input type="hidden" name="name" value="{{DeckName}}"></input>
        <button type="submit" value="{{_id}}" class="inputButton deleteButton">Delete</button>
        </form>
        </p>
    </div>
    </div>

  {{/each}}

  </div>
