<!--
{{#if message}}
<p class = "message">{{message}}</p>
{{/if}} -->

<a href="/publicdecks"><button class="inputButtonLarge">Browse Public Decks</button></a>

{{#each decks}}
  <div id="{{Name}}">
    <h5> <img class="deckLogo" src="../images/decklogoOrange.svg"/> {{Name}} </h5>
    <li>
    <form action="/editdeck" method="post">
      <input type="hidden" name="name" value="{{Name}}">
      <input class="inputButton" type="submit" value="Edit Cards"></input>
    </form>
    </li>
    <li>
    <form action="/studydeck" method="post">
    <input type="hidden" name="name" value="{{Name}}">
    <input class="inputButton" type="submit" value="Study Deck"></input>
    </form>
    </li>
    <li>
      <button id="{{_id}}toggleDeckButtons" class="inputButton showDeckButtons" value="{{_id}}">Edit Deck</button>
    </li>
      <div id = "{{_id}}deckButtons" class="hidden">
    <li>
      {{#if Public == true}}
      <input type="submit" class="inputButton" id="{{_id}}makePublic" value="Make Public"></input>
      {{else}}
      <input type="submit" class="inputButton" id="{{_id}}makePrivate" value="Make Private"></input>
      {{/if}}
    </li>
    <!-- delete the deck top of the page -->
    <li>
      <form action="/mydecks" method="get">
        <!-- <input type="hidden" name="id" value="{{_id}}"></input> -->
        <button type="submit" class="inputButton deleteADeck" id="deleteDeck" value="{{_id}}"> Delete Deck</button>
      </form>
    </li>
    </div>


    </div>
    </li>
{{/each}}

<div id="toggleAddDeck"><h4> Add A Deck</h4></div>
<div class="hidden" id="addDeckDiv">

  <form action="/mydecks" method="get" id="addDeckForm">
    <h4> Deck Name: </h4>
    <p><textarea name="Name" class="inputBoxLarge"></textarea></p>
    <input type="hidden" name="User" value="{{currentUser}}"></input>
    <h4> Deck Privacy: </h4>
    <p class = "message">
    <input type="radio" name="Public" value="true">Public Deck
    <input type="radio" name="Public" value="false">Private Deck <br>
    </p>
    <span class="inputButton closeAdd">x</span>
    <input type="submit" value="Add Deck" class="inputButton" id="addADeck"></input>
  </form>

</div>
